<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <h1 class="text-dark">KidsInGrow </h1>
    <img src="https://raw.githubusercontent.com/Rosszhena/cdmx-social-network-frameworks/tree/master/src/assets/descarga.png" class="rounded-circle">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>

        </ul>
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active" *ngIf="!isLogin">
                <a class="nav-link" href="#" routerLink="/login">Login</a>
            </li>
            <li class="nav-item" *ngIf="!isLogin">
                <a class="nav-link" href="#" routerLink="/register">Registrarse</a>
            </li>


            <li class="nav-item" *ngIf="isLogin">
                <a class="nav-link">{{nombreUsuario}}</a>
                <img src="{{fotoUsuario}}" class="rounded-circle">
                <span class="badge pill badge-secondary">{{emailUsuario}}</span>
            </li>
            <li class="nav-item" *ngIf="isLogin">
                <a class="nav-link" href="#" (click)="onClickLogout()">Salir</a>
            </li>
        </ul>

    </div>
</nav>